body{
    background-image: url("https://ununsplash.imgix.net/15/castle.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050");
    background-size: cover;
	background-repeat: no-repeat;
}

.col-md-4 {
	color: white;
	border-style: solid;
	border-width: 5px;
}