doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title On This Day
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="lib/build.css")
  body
    h1 On This Day
    .container
      .row
        .col-md-12.forecast
          table
            thead
                tbody
                  tr.weather
      .row
        .col-md-4
          p.tableheader Births
          table.births

        .col-md-4
          p.tableheader Events
          table.events


        .col-md-4
          p.tableheader Deaths
          table.deaths

      




  script(src="lib/build.js")
  script(src="js/main.js")

